body {
    font-family: "Quicksand", sans-serif;
    z-index: 0;
    cursor: none;
    position: relative;
}

.cursor-image,
.clicked-image {
    position: absolute;
    pointer-events: none;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
}
.clicked-image {
    opacity: 1;
    z-index: -1;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
}

p {
    font-size: 1rem;
    font-weight: 400;
    color: #555;
}

/* Column text styling */
section .text-gray-700 {
    font-size: 1rem;
    line-height: 1.6;
}

/* CARD styles ---------------------------------------- */

.card {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.01);
}

.card-image {
    background-image: url("./public/swappa_front.png");
    background-size: cover;
    background-position: center;
}

.card-comingsoon {
    position: relative;
    /* background-color: #f26e66; */
    background-color: #333;
    color: white;
    font-size: 2rem;
    font-weight: 700;
    background-image: url("./public/texture_b.jpg");
    /* background-blend-mode: screen; */
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.card-comingsoon::before {
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    border: 2px solid white;
    border-radius: 8px;
    pointer-events: none;
}

.card-empty {
    position: relative;
    background-color: #7bc89e;
    color: white;
    font-size: 2rem;
    font-weight: 700;
    background-image: url("./public/texture_b.jpg");
    background-blend-mode: screen;
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    overflow: hidden;
}

.card-empty::before {
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    border: 2px solid white;
    border-radius: 8px;
    pointer-events: none;
}

.fx {
    position: relative;
    font-weight: 700;
    /* color: #eee; */
    padding: 0.1em 0.2em;
}

.fx-card::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
    margin: -50px 0px 0px -50px;
    background-image: url("./public/fx/fx-06.png");
    background-size: cover;
    background-position: center;
    /* -webkit-filter: drop-shadow(0 20px 25px 10px black);
    filter: drop-shadow(0 20px 25px 10px black); */
    z-index: -1;
}

.fx-star::before {
    content: "";
    position: absolute;
    height: 150px;
    width: 150px;
    top: 50%;
    left: 50%;
    margin: -85px 0px 0px -75px;
    background-image: url("./public/fx/fx-04.png");
    background-size: cover;
    background-position: center;
    z-index: -1;
}

*::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
    height: 10px;
}
*::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 0;
    margin: 2px;
    border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
    background-color: #333333;
    border-radius: 10px;
}
